body {
	background-color: white;
}

.main{
	display:flex
}
.main .sub-menu li {
	 list-style-type: none;
	padding-top: 20px;
	text-decoration: none;
}
.main .sub-menu li a{
	padding-top: 20px;
	text-decoration: none;
}

.main .biodata-wrapper {
	margin-right: 100px;
}

.main .content-wrapper {
    width: 60rem;
}

.main .content-wrapper #search {
    width: 16rem;
}

.main .content-wrapper .d-flex #btn-search {
	position: relative;
    left: 409px;
    height: 37px;
}




